{% extends 'layouts/default.html' %}

{% block body %}

    <h1> OUPS.....erreur 404</h1>

    <P>La page que vous recherchez n'existe pas.</P><br>
    
    <p>Vous Pouvez retourner a la <a href="{{ url_for('index') }}">page d'acceuil</a>.</p>

{% endblock body %}