{% extends 'layouts/default.html' %}

{% block body %}

	<form class="navbar-form navbar-right" action="{{ url_for('recherche_article') }}" method="POST">

        <div class="input">

            <div class="input-group">
				<input type="recherche" name="article" placeholder="Entrez le nom de l'article a rechercher">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
            </div>

        </div>

    </form>

	{#length (filter)Permet d'incrementer dynamiquement le nombre d'article#}
	{#pluriel va permettre d'ajuster l'affichage en fonction du nombre d'article(s)#}
	<h1> Liste des articles ({{ pluriel(les_articles|length, 'article', 'articles') }}) </h1>

	{% if not les_articles %}
		<p>Aucun article n'a encore été ajouté. Soyez le premier a le faire :D</p>
	{% else %}

		{% for art in les_articles %}

			<ul>  

				<h3><li class = "col" value="{{ art[0] }}">Titre: <strong>{{ art[0] }}</strong></li>
				<li class = "col" value="{{ art[1] }}">Identifiant: <strong>{{ art[1] }}</strong></li>
				<li class = "col" value="{{ art[2] }}">Auteur: <strong>{{ art[2] }}</strong></li>
				<li class = "col" value="{{ art[3] }}">Date de publication: <strong>{{ art[3] }}</strong></li>
				<li class = "col" value="{{ art[4] }}">Paragraphe: <strong>{{ art[4] }}</strong></li></h3>

			</ul><br>

		{% endfor %}

	{% endif %}

{#"{{ url_for('article', id=les_art.id) }}"#}

{% endblock body %}