<!DOCTYPE html>

<html>

    <head>

      <meta charset="UTF-8"></meta>
      <meta name="viewport" content="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"></meta>
      <title>TP1_INF5190_HIVER20</title>
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
    
    </head>

    <body style="color: black">

      <nav>
       
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

          <li class="nav-item">
            <a href="{{ url_for('index') }}">Acceuil</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('administrateur') }}">Admin</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('administrateur_nouv') }}">Admin-nouveau</a>
          </li>

        </ul>

      </nav>

        <!-- % est mis pour exprimer une logique-->
        {% block body %}{% endblock body %}

    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>

</html>