{% extends 'layouts/default.html' %}

{% block body %}

  {#length (filter)Permet d'incrementer dynamiquement le nombre d'article#}
  {#pluriel va permettre d'ajuster l'affichage en fonction du nombre d'article(s)#}
  <h1> Liste des articles ({{ pluriel(arti|length, 'article', 'articles') }}) </h1>

  <div>

    {% if not arti %}
		  <p>Aucun article n'a encore été ajouté. Soyez le premier a le faire :D</p>
	  {% else %}

      {% for art in arti %}

        <ul>  

          <h3><li class = "col" value="{{ art[0] }}">Titre: <strong>{{ art[0] }}</strong></li>
          <li class = "col" value="{{ art[1] }}">Date de publication: <strong>{{ art[1] }}</strong></li></h3>
          <button class = "button"><a href="{{ url_for('formulaire_modif')}}">Modifier</a><br></button>

        </ul><br>

      {% endfor %}

    {% endif %}
    
    <button class="button"><a href="{{ url_for('administrateur_nouv') }}">Ajouter article</a><br></button>

  </div>

{% endblock body %}