{% extends 'layouts/default.html' %}

{% block body %}

  <div>

	{% if not les_art %}
		<p>Aucun article n'a encore été ajouté. Soyez le premier a le faire :D</p>
	{% else %}

		{% for art in les_art %}

			<ul>  

				<h3><li class = "col" value="{{ art[0] }}">Titre: <strong>{{ art[0] }}</strong></li></h3>
				<li class = "col" value="{{ art[1] }}">Identifiant: <strong>{{ art[1] }}</strong></li>
				<li class = "col" value="{{ art[2] }}">Auteur: <strong>{{ art[2] }}</strong></li>
				<li class = "col" value="{{ art[3] }}">Date de publication: <strong>{{ art[3] }}</strong></li>
				<li class = "col" value="{{ art[4] }}">Paragraphe: <strong>{{ art[4] }}</strong></li>

			</ul><br>

		{% endfor %}

	{% endif %}

  </div>

{% endblock body %}