{% extends 'layouts/default.html' %}

{% block body %}

    <h1>Article: {{ title }}</h1>

    <form action="/admin/modifier/" method="post">

        <div>

			<table>

				<tr>
					</td>
					<td><input name="titre" type="text" id="champ-titre" placeholder="Entrez le nouveau titre" >
					</td>
				</tr>

				<tr>
					</td>
					<td><input type="text" id="champ-paragraphe" name="paragraphe" placeholder="Modifier le contenu" >
					</td>
                </tr>
                
            </table>

            <br>
            <input type="submit" value="Modifier">
            
        </div>

	</form>

{% endblock body %}