{% extends 'layouts/default.html' %}

{% block body %}

	<form action="/admin-nouveau/resultat" method="post">
		
		<div>

			<table>

				<tr>
					<td><input name="titre" type="text" id="champ-titre" placeholder="Entrez le titre" required>
						<div class="invalid-feedback">{{ erreur1 }}</div>
					</td>
				</tr>

				<tr>
					<td><input type="text" id="champ-identifiant" name="article_id" placeholder="Entrez l'identifiant" required></td>
					<div class="invalid-feedback">{{ erreur2 }}</div>
				</tr>

				<tr>
					<td><input type="text" id="champ-auteur" name="auteur" placeholder="Entrez le nom de l'auteur" required>
      					<div class="invalid-feedback">{{ erreur3 }}</div>
					</td>
				</tr>

				<tr>
					<td><input type="date" id="champ-date" name="date_publication" required>
						<div class="invalid-feedback">{{ erreur4 }}</div>
					</td>
				</tr>

				<tr>
					<td>
						<textarea name="message" rows="10" cols="30" type="champ-paragraphe" id="champ-paragraphe" required>
							Entrez le contenu du paragraphe
						</textarea>
						<div class="invalid-feedback">{{ erreur5 }}</div>
					</td>
				</tr>

			</table>
			<br>
			<input type="submit" value="Envoyer">
		</div>
	</form>

	<script>

		/**
		* w3schools.com : 
		* https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_validation_
		* needs&stacked=h&fbclid=IwAR0Yz74GwRpuzlsGIYKppDIiY3T5afa5hJe1NAbhJOEAzsHOdI5xTuVEGxg
		**/
	   (function () {
		'use strict';
		window.addEventListener('load', function() {
		  // Get the forms we want to add validation styles to
		  var forms = document.getElementsByClassName('needs-validation');
		  // Loop over them and prevent submission
		  var validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
			  if (form.checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
			  }
			  form.classList.add('was-validated');
			}, false);
		  });
		}, false);
	  }) ();
	
	</script>

{% endblock body %}