{% extends 'layouts/default.html' %}

{% block body %}

{#length (filter)Permet d'incrementer dynamiquement le nombre d'article#}
{#pluriel va permettre d'ajuster l'affichage en fonction du nombre d'article(s)#}
<h1> Liste des articles trouves ({{ pluriel(les_articles|length, 'article', 'articles') }}) </h1>

{% if not cherch_art %}
	<p>Aucun article correspondant n'a été trouvé</p>
{% else %}

	{% for art in cherch_art %}

		<ul>  

			<li class = "col" value="{{ art[0] }}"><a href="{{ url_for('article', id=art[2]) }}">Titre: <strong>{{ art[0] }}</strong></a></li>
			<li class = "col" value="{{ art[1] }}">Paragraphe: <strong>{{ art[1] }}</strong></li>

		</ul><br>

	{% endfor %}

{% endif %}

{% endblock body %}